{% extends 'base.html' %}

{% block title %}Painel de Admin{% endblock %}

{% block style %}
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }
    h2, h3 {
        color: #333;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    ul li {
        margin-bottom: 10px;
    }
    ul li a {
        text-decoration: none;
        color: #007BFF;
    }
    ul li a:hover {
        text-decoration: underline;
    }
    a {
        display: inline-block;
        margin-top: 20px;
        color: #007BFF;
    }
{% endblock %}

{% block body %}
    <h2>Painel de Administração</h2>
    <p>Bem-vindo, {{ user.username }}!</p>
    <h3>Opções Administrativas</h3>
    <ul>
        <li><a href="{% url 'create-user' %}">Cadastrar Novo Usuário</a></li>
        <li><a href="{% url 'user-list' %}">Lista de Usuários</a></li>
        <li><a href="{% url 'listar-estoque-admin' %}">Estoque</a></li>
        <li><a href="{% url 'admin-dashboard-clientes' %}">Gerenciar Clientes</a></li> 
        <li><a href="{% url 'consulta_pontos' %}">Consultar Registro de Ponto</a></li>
        <li><a href="{% url 'vendas-admin' %}">Consultar Registro de Vendas</a></li>
        <li><a href="{% url 'criar-aviso' %}">Criar Aviso</a></li>
    </ul>
{% endblock %}