{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel do Usuário</title>
</head>
<body>
    <h2>Painel do Usuário</h2>
    <p>Bem-vindo, {{ user.username }}!</p>
    <p>Aqui você poderá acessar as funcionalidades disponíveis para usuários comuns.</p>
    <a href="{% url 'logout' %}">Sair</a>  <!-- Link de logout -->
</body>
</html>

{% endblock %}