<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
</head>
<body>
    <h2>Lista de Usuários</h2>
    <ul>
        {% for user in users %}
            <li>{{ user.username }} - {{ user.email }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'create-user' %}">Cadastrar Novo Usuário</a>
    <a href="{% url 'admin-dashboard' %}">Voltar ao painel</a>
</body>
</html>
