{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link href="https://cdn.jsdelivr.net/npm/@coreui/coreui@5.2.0/dist/css/coreui.min.css" rel="stylesheet" integrity="sha384-u3h5SFn5baVOWbh8UkOrAaLXttgSF0vXI15ODtCSxl0v/VKivnCN6iHCcvlyTL7L" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@coreui/icons/css/all.min.css">
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@coreui/coreui@5.2.0/dist/js/coreui.bundle.min.js" integrity="sha384-JdRP5GRWP6APhoVS1OM/pOKMWe7q9q8hpl+J2nhCfVJKoS+yzGtELC5REIYKrymn" crossorigin="anonymous"></script>


    <style>
        
        /* Ajustes para dispositivos móveis */
        
        .dropdown-menu {
            left: 0; /* Alinhado à esquerda no celular */
            right: auto;
        }
        .navbar-nav {
            justify-content: center; /* Centraliza os links no celular */
            width: 100%;
            flex-wrap: wrap; /* Garante que os itens se ajustem no celular */
        }
        .navbar-nav .nav-item {
            margin-right: 10px;
            margin-left: 10px;
        }
        .navbar-toggler {
            display: block;
        }
        /* Não aplica divisão entre os links no mobile */
        .navbar-nav .nav-item + .nav-item::before {
            display: none;
        }

        .navbar-nav .nav-link {
            font-size: 1.0em;
            padding: 8px 0px;
            
            margin-right: 00px;
            margin-left: 00px;
        }

        .navbar .user-icon {
            font-size: 1.2rem;
            margin-right: 5px;
            margin-left: 8px;
        }
        
        {% block style %}
        {% endblock %}
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="margin-left: 20px;">Meu Sistema</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% if user.is_superuser %}

            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav me-auto customNavBar">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'listar-estoque' %}"><i class="fas fa-home"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/usuarios/' %}active{% endif %}" href="{% url 'usuarios' %}"><i class="fas fa-user"></i></i> Usuários</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/estoque/' %}active{% endif %}" href="{% url 'listar-estoque-admin' %}"><i class="fas fa-boxes"></i> Estoque</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/admin-dashboard-clientes/' %}active{% endif %}" href="{% url 'admin-dashboard-clientes' %}"><i class="fas fa-users"></i> Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/consulta-pontos/' %}active{% endif %}" href="{% url 'consulta_pontos' %}"><i class="fas fa-clock"></i> Pontos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/vendas-admin/' %}active{% endif %}" href="{% url 'vendas-admin' %}"><i class="fas fa-shopping-cart"></i> Vendas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/criar-aviso/' %}active{% endif %}" href="{% url 'criar-aviso' %}"><i class="fas fa-bell"></i> Criar Aviso</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    </li>
                </ul>
            </div>

            {% elif user.is_authenticated %}
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav me-auto customNavBar">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'listar-estoque' %}"><i class="fas fa-home"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/user-dashboard/' %}active{% endif %}" href="{% url 'painel-vendas' %}"><i class="fas fa-cash-register"></i> Caixa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/contato/' %}active{% endif %}" href="{% url 'registrar-ponto' %}"><i class="fas fa-receipt"></i> Ponto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    </li>
                </ul>
            </div>
            {% else %}
                <!--Não está logado-->
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav me-auto customNavBar">
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'listar-estoque' %}"><i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#modalExemplo"><i class="fas fa-bell"></i></i> Avisos</a>
                        </li>
                    </ul>
                    <div class="d-flex align-items-center">
                        <i class="fas fa-user-circle user-icon me-2"></i> <!-- Ícone de usuário -->
                        <div class="dropdown">
                            <button 
                                class="btn btn-light dropdown-toggle" 
                                type="button" 
                                data-bs-toggle="dropdown" 
                                aria-expanded="false">
                                {% if user.is_authenticated %}{{ user.username }}{% else %}Login{% endif %}
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end custom-dropdown-menu">
                                    <form method="POST" class="px-4 py-3" action="{% url 'login' %}">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            <label for="username" class="form-label">Usuário:</label>
                                            <input type="text" class="form-control" name="username" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="password" class="form-label">Senha:</label>
                                            <input type="password" class="form-control" name="password" required>
                                        </div>
                                        <button type="submit" class="btn btn-primary w-100">Entrar</button>
                                    </form>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <a class="dropdown-item" id="btnEsqueciSenha">Esqueceu a senha?</a>
                                    </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </nav>
    <div class="content">
        {% block body %}
        {% endblock %}
    </div>

    <script>
        function handleUserClick() {
            const dropdown = document.getElementById("dropdown-menu");
            dropdown.classList.toggle("show");
        }
        {% block script %}
        {% endblock %}
        
        $(document).ready(function () {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        toastr.error("{{ message }}", "Erro");
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        toastr.success("{{ message }}", "Sucesso");
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                        toastr.warning("{{ message }}", "Aviso");
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                        toastr.info("{{ message }}", "Atenção");
                    {% endif %}
                {% endfor %}
            {% endif %}

            $(document).ready(function() {
                $('#btnEsqueciSenha').click(function() {
                    toastr.info('Se você esqueceu sua senha, contate o administrador do sistema!.', 'Informação');
                  });
            });
        });
    </script>
</body>
</html>
