{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Sistema{% endblock %}</title>

  <link rel="icon" href="{% static 'img/favicon.ico' %}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link href="https://cdn.jsdelivr.net/npm/@coreui/coreui@5.2.0/dist/css/coreui.min.css" rel="stylesheet" integrity="sha384-u3h5SFn5baVOWbh8UkOrAaLXttgSF0vXI15ODtCSxl0v/VKivnCN6iHCcvlyTL7L" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@coreui/icons/css/all.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">

  {% block head %}
  {% endblock %}

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6-beta.15/jquery.inputmask.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@coreui/coreui@5.2.0/dist/js/coreui.bundle.min.js" integrity="sha384-JdRP5GRWP6APhoVS1OM/pOKMWe7q9q8hpl+J2nhCfVJKoS+yzGtELC5REIYKrymn" crossorigin="anonymous"></script>

  <style>
    {% block style %}
    {% endblock %}
  </style>
</head>
<body>


  
{% if request.path == '/' or request.path == '/login/'%}
<div style="position: absolute; top: 10px; right: 10px; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#modalExemplo">
  {% is_papelaria_aberta as papelaria_aberta %}
  {% if papelaria_aberta %}
    <div class="alert alert-success d-flex align-items-center" role="alert">
      <i class="fas fa-door-open me-2" style="font-size: 1.5em;"></i>
      <div>Papelaria Aberta</div>
    </div>
  {% else %}
    <div class="alert alert-danger d-flex align-items-center" role="alert">
      <i class="fas fa-door-closed me-2" style="font-size: 1.5em;"></i>
      <div>Papelaria Fechada</div>
    </div>
  {% endif %}
</div>
{% endif %}

<div class="sidebar-desktop">
  <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar" class="active">
      <div class="sidebar-header" style="cursor: pointer;" onclick="window.location.href='{% url 'core:home' %}'">
      <h3 style="text-align: center; line-height: 1.5;">
        Papelaria<br>DCE
      </h3>

      <div class="sb-icone">
        <i class="fas fa-paperclip"></i>
      </div>
      </div>

      {% if user.is_superuser %}

      <ul class="list-unstyled components">
        <li class="{% if request.path == '/' %}active{% endif %}">
          <a href="{% url 'core:home' %}">
            <i class="fas fa-home"></i>
            Home
          </a>
        </li>
        <li class="{% if request.path == '/usuarios/' %}active{% endif %}">
          <a href="{% url 'usuarios:usuarios' %}">
            <i class="fas fa-user"></i>
            Usuários
          </a>
        </li>
        <li class="{% if request.path == '/estoque/' %}active{% endif %}">
          <a href="{% url 'estoque:listar-estoque-admin' %}">
            <i class="fas fa-boxes"></i>
            Estoque
          </a>
        </li>
        <li class="{% if request.path == '/clientes/' %}active{% endif %}">
          <a href="{% url 'clientes:admin-clientes' %}">
            <i class="fas fa-users"></i>
            Clientes
          </a>
        </li>
        <li class="{% if request.path == '/pontos/consulta-pontos/' %}active{% endif %}">
          <a href="{% url 'pontos:consulta_pontos' %}">
            <i class="fas fa-receipt"></i>
            Pontos
          </a>
        </li>
        <li class="{% if request.path == '/vendas/' %}active{% endif %}">
          <a href="{% url 'vendas:vendas-admin' %}">
            <i class="fas fa-shopping-cart"></i>
            Vendas
          </a>
        </li>
        <li class="{% if request.path == '/avisos/' %}active{% endif %}">
          <a href="{% url 'avisos:listar-avisos' %}">
            <i class="fas fa-bell"></i>
            Avisos
          </a>
        </li>
        <li class="{% if request.path == '/horarios/' %}active{% endif %}">
          <a href="{% url 'horarios:gerenciar-horarios' %}">
            <i class="fas fa-clock"></i>
            Horários
          </a>
        </li>
        <li class="{% if request.path == '/duvidas/' %}active{% endif %}">
          <a href="{% url 'duvidas:responder_duvidas' %}">
            <i class="fas fa-question-circle"></i>
            Dúvidas
          </a>
        </li>
      </ul>
    
      <ul class="list-unstyled CTAs">
        <li>
          <a href="{% url 'core:logout' %}">
            <i class="fas fa-sign-out-alt"></i>
            Logout
          </a>
        </li>
      </ul>
      
      {% elif user.is_authenticated %}
        <ul class="list-unstyled components">
          <li class="{% if request.path == '/' %}active{% endif %}">
            <a href="{% url 'core:home' %}"><i class="fas fa-home"></i>Home</a>
          </li>
          <li class="{% if request.path == '/vendas/painel-vendas/' %}active{% endif %}">
            <a href="{% url 'vendas:painel-vendas' %}"><i class="fas fa-cash-register"></i>Caixa</a>
          </li>
          <li class="{% if request.path == '/pontos/registrar-ponto/' %}active{% endif %}">
            <a href="{% url 'pontos:registrar-ponto' %}"><i class="fas fa-receipt"></i>Ponto</a>
          </li>
        </ul>
      
        <ul class="list-unstyled CTAs">
          <li>
            <a href="{% url 'core:logout' %}">
              <i class="fas fa-sign-out-alt"></i>
              Logout
            </a>
          </li>
        </ul>

      {% else %}

        <ul class="list-unstyled components">
          <li class="{% if request.path == '/' %}active{% endif %}">
            <a href="{% url 'core:home' %}">
              <i class="fas fa-home"></i>
              Home
            </a>
          </li>
            <li>
            <a style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#modalExemplo">
              <i class="fas fa-bell"></i>
              Avisos
            </a>
            </li>
            <li>
              <a style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#modalHorarios">
                <i class="fas fa-clock"></i>
                Horários
              </a>
            </li>
            <li><hr class="custom-divider"></li>
        </ul>
        <ul class="list-unstyled CTAs">
          <li>
            <div class="container" style="background-color: rgb(76, 75, 185); padding: 1px; border-radius: 10px;">
              <form method="POST" class="px-4 py-3" action="{% url 'core:login' %}">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="username" class="form-label text-white">Usuário:</label>
                  <input type="text" class="form-control" name="username" required>
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label text-white">Senha:</label>
                  <div class="input-group">
                    <input type="password" class="form-control" name="password" id="password" required>
                    <div class="input-group-append">
                      <button class="btn" type="button" id="togglePassword">
                        <i class="fas fa-eye"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="remember_me" name="remember_me">
                  <label class="form-check-label text-white" for="remember_me" style="font-size: 0.8rem;">Manter conectado</label>
                </div>
                <button type="submit" class="btn btn-outline-light w-100">Entrar</button>
              </form>
            </div>
            <li><hr class="dropdown-divider"></li>
            <li>
                <a class="dropdown-item" id="btnEsqueciSenha" style="cursor: pointer;">
                  <i class="fas fa-question-circle"></i> Esqueceu a senha?
                </a>
            </li>
          </li>
        </ul>
      {% endif %}
    </nav>

    

    <div class="modal fade" id="modalHorarios" tabindex="-1" aria-labelledby="modalHorariosLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="modalHorariosLabel">Horários</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <table class="table table-striped table-sm table-hover">
          <thead class="table-dark text-center align-middle">
          <tr>
            <th style="width: 20%; font-size: 0.9rem; border-left: 2px solid gray; border-top: 2px solid gray; border-bottom: 2px solid gray;">Dia</th>
            <th style="width: 40%; font-size: 0.9rem; border-top: 2px solid gray; border-bottom: 2px solid gray;">Horário de Abertura</th>
            <th style="width: 40%; font-size: 0.9rem; border-right: 2px solid gray; border-top: 2px solid gray; border-bottom: 2px solid gray;">Horário de Fechamento</th>
          </tr>
          </thead>
          <tbody>
          {% regroup horarios by get_dia_semana_display as grouped_horarios %}
          {% for group in grouped_horarios %}
            {% for horario in group.list %}
            <tr style="border-left: 2px solid gray; border-right: 2px solid gray; {% if forloop.last %}border-bottom: 2px solid gray;{% endif %}">
              {% if forloop.first %}
              <td class="text-center align-middle" style="font-size: 0.9rem;" rowspan="{{ group.list|length }}">{{ group.grouper }}</td>
              {% endif %}
              <td class="text-center align-middle" style="font-size: 0.9rem;">{{ horario.abertura }}</td>
              <td class="text-center align-middle" style="font-size: 0.9rem;">{{ horario.fechamento }}</td>
            </tr>
            {% endfor %}
          {% endfor %}
          </tbody>
        </table>
        </div>
      </div>
      </div>
    </div>
  
    <!-- Page Content  -->
    <div id="content">

      <div class="row">
        {% block body %}
        {% endblock %}
      </div>

    </div>    
  </div>
</div>

</body>
    <script src="{% static 'js/base.js' %}"></script>
    
    <script>

      {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'danger' %}
              toastr.error("{{ message }}");
          {% elif message.tags == 'success' %}
              toastr.success("{{ message }}");
          {% elif message.tags == 'warning' %}
              toastr.warning("{{ message }}");
          {% elif message.tags == 'info' %}
              toastr.info("{{ message }}");
          {% endif %}
        {% endfor %}
      {% endif %}

      {% block script %}
      {% endblock %}

    </script>

{% block scriptsrc %}
{% endblock %}

</html>
