{% extends base_template %}

{% block body %}
<div class="container mt-5">
    <h2 class="text-center">Trocar Senha</h2>
    <form method="post" class="mt-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-block">Trocar senha</button>
    </form>
    {% if messages %}
        <ul class="messages mt-3">
            {% for message in messages %}
                <li class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}